* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: aliceblue;
}

@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@mixin gradient-text {
  background: linear-gradient(170deg, #732eb8 0%, #f06e42 30%, #732eb8 55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Creepster", system-ui;
  font-weight: 400;
}

@mixin btn {
   background-color: #f06e42;
      color: #181616;
      width: 323px;
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0 24px;

      &:hover {
        background-color: #732eb8;
      }
}

header {
  background-image: linear-gradient(
      90deg,
      rgba(24, 22, 22, 0.5) 80%,
      rgba(24, 22, 22, 0.3) 100%
    ),
    linear-gradient(to top, #181616 0%, rgba(0, 0, 0, 0) 40%),
    url(./image/banner.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;

  .logo {
    display: flex;
    justify-content: space-between;
    padding: 60px;
  }

  .emoji-left {
    width: 60px;
    height: 60px;
    animation: float 1s ease-in-out infinite alternate;
  }
  .emoji-right {
    width: 36px;
    height: 40px;
    animation: float 1s ease-in-out infinite alternate-reverse;
  }

  .emoji-bottom {
    width: 48px;
    height: 48px;
    animation: float 1s ease-in-out infinite alternate-reverse;
    position: absolute;
    transform: translateX(-50%);
    bottom: 80px;
  }

  @keyframes float {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-8px);
    }
  }

  .info {
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 6rem;
      margin-bottom: 48px;
      @include gradient-text;
    }

    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 36px;
    }

    p {
      font-size: 1.8rem;
      color: rgba(190, 180, 167, 1);
      margin-bottom: 54px;
    }

    button {
      @include btn;
    }
  }
}

.details {
  width: 100%;
  height: 63vh;
  background-color: #181616;

  h3 {
    display: flex;
    justify-content: center;
    font-size: 3.75rem;
    @include gradient-text;
  }

  .info-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;

    .card {
      background-color: #211e1c;
      padding: 0 32px;
      width: 285px;
      height: 194px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      h4 {
        color: #beb4a7;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 28px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
}

.fantasy {
  background: linear-gradient(0deg, #402659, #402659);
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h3 {
    @include gradient-text;
    font-size: 3.75rem;
    padding: 68px 0 47px 0;
  }

  .subtitle {
    text-align: center;
    font-size: 1.8rem;
    color: #beb4a7;
    width: 823px;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 780px;
    margin-top: 48px;

    .card-fantasy {
      background-color: #211e1c;
      width: 169px;
      height: 170px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 16px;

      img {
        width: 36px;
        height: 40px;
      }

      h4 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
      }

      p {
        color: #beb4a7;
        font-size: 0.87rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }

  .contest {
    background: rgba(33, 30, 28, 0.5);
    width: 93%;
    height: 70vh;
    margin: 48px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 24px;

    h4 {
      font-size: 1.5rem;
      font-weight: 700;
      font-weight: bold;
      color: rgba(240, 110, 66, 1);
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
      color: #beb4a7;
      text-align: center;
    }

    button {
      @include btn;
    }
  }
}
