* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: aliceblue;
}
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@mixin gradient-text {
  background: linear-gradient(170deg, #732eb8 0%, #f06e42 30%, #732eb8 55%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Creepster", system-ui;
}

header {
  background-image: linear-gradient(
      90deg,
      rgba(24, 22, 22, 0.5) 80%,
      rgba(24, 22, 22, 0.3) 100%
    ),
    linear-gradient(to top, #181616 0%, rgba(0, 0, 0, 0) 40%),
    url(./image/banner.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;

  .logo {
    display: flex;
    justify-content: space-between;
    padding: 60px;
  }

  .emoji-left {
    font-size: 3rem;
    animation: float 1s ease-in-out infinite alternate;
  }
  .emoji-right {
    font-size: 3rem;
    animation: float 1s ease-in-out infinite alternate-reverse;
  }

  .emoji-bottom {
    font-size: 2rem;
    animation: float 1s ease-in-out infinite alternate-reverse;
    position: absolute;
    transform: translateX(-50%);
    bottom: 80px;
  }

  @keyframes float {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-8px);
    }
  }

  .info {
    text-align: center;

    h1 {
      font-size: 6rem;
      font-weight: 400;
      margin-bottom: 48px;
      @include gradient-text;
    }

    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 36px;
    }

    p {
      font-size: 1.8rem;
      color: rgba(190, 180, 167, 1) ;
       margin-bottom: 54px;
    }

    .btn {
      background-color: #F06E42;
      color: #181616;
      width: 323px;
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0 24px;

      &:hover {
        background-color: #732EB8;
      }
    }
  }
}
